@{
    ViewData["Title"] = "Game";
}
@model Task6.Models.PlayerModel

<style>
    td {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    }
    h1 {
    text-align: center;
    }
</style>

<table id="tictactoe-table">
    <tr>
        <td id="0"></td>
        <td id="1"></td>
        <td id="2"></td>
    </tr>
    <tr>
        <td id="3"></td>
        <td id="4"></td>
        <td id="5"></td>
    </tr>
    <tr>
        <td id="6"></td>
        <td id="7"></td>
        <td id="8"></td>
    </tr>
</table>

@* <button onclick="printOC()">check connection</button> *@

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/getUrlParams.js"></script>

<script>

    let connection = new signalR.HubConnectionBuilder().withUrl("/gamehub").build();
    var connectTo = '@Model.Id';

    connection.start().catch(err=>{
        alert("couldnt connect");
    })
    .then( function()
    {
        connection.invoke("GetConnectionId").then((data)=>{
            console.log("MY ID: " + data);
            console.log("OPP ID: " + '@Model.Id');
        });

        if(connectTo === ""){
            connection.invoke("NewGame", '@Model.GameId'); // why GameId? see: GameController/Index
        }
        else{
            connection.invoke("ConnectToGame", connectTo);
        }

    });

    // not used right now
    let printOC = function(){
        console.log("PRINTING OPPONENTS CONNECTION ID: " + opponentConnectionId);
    };

    document.getElementById("tictactoe-table").addEventListener("click", function(event){
        let cell = event.target.id;
        if(cell != "tictactoe-table"){
            connection.invoke("SendMove", cell);
        }
    });

    connection.on("GameUpdate", function (board) {
        console.log("game update");
        for(let i = 0; i < 9; i++){
            document.getElementById(i).innerHTML = "<h1>" + board[i] + "</h1>";
        }
    });

    connection.on("GameWon", function (message) {
        alert(message);
        window.location.href = "/Home/Index";
    });
        
    connection.on("Redirect", function (controller, action, message) {
        alert(message);
        window.location.href = "/"+controller+"/" + action;
    });

    
</script>